@import '../../style/mixin.sass';
@import '../../style/padroes.scss';

.NavBar {
    @include larguraResponsivaCemPorCento;
    font-size: $tamanhoLetrasParagrafos;
  }
 
 
  .nome{
    font-size: $tamanhoLetrasParagrafos;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }

.linksNavBar{
  font-size: $tamanhoLetrasTitulosTres;
  font-weight: bolder;
}
 