@import './padroes.scss'; 
@import './mixin.scss';

.formCadastro {
   @include form;
    height: auto;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}
.formCadastro h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formCadastro p {
    margin: 1rem;
    text-align: center;
    display: inline-block;
    font-size: $tamanhoLetrasParagrafos;
    color: #666;
    margin-bottom: 25px;
}

.formCadastro input {
    @include inputText;
    border: 1px solid #ccc;
}


.formCadastro input:focus {
    border: 1px solid $corBorda;
}

.formCadastro label {
    font-size: 14px;
    font-weight: 600;
}

.formCadastro a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formCadastro a:hover {
    color: $corParagrafo;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btnCadastro{
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 1;
}

.btnCadastro {
    background-color: $backgroundButton;
    color: #fff;
    margin: 3rem;
    @include buttonSubmit;
}

.btnCadastro:hover {
    transform: scale(1.05);
    background-color: $backgroundButtonHover;

}

.page {
    @include ajustarAoCentroResponsivo;
    background-color: $backgroundPrincipal;
}