@import './mixin.scss'; 
@import './padroes.scss';

.divPai {
  @include containerFlexivel;
}

.divPai .caixasExercicios {
  border: 1px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center center;
  cursor: pointer;
}

.divPai .caixasExercicios:hover {
  border-color: $corBorda;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.caixasExercicios {
  border: 1px solid $corBorda;
  background-color: $backgroundSecundaria;
  @include caixasPequenas;
  @include flexColumnCeterCenter;
}

.caixasExercicios .imagem {
  @include imagemCaixasPequenas;
  @include imagemHover;
}

.caixasExercicios h3 {
  font-size: $tamanhoLetrasTitulosTres;
}

.caixasExercicios p {
  font-size: $tamanhoLetrasParagrafos;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .caixasExercicios {
    width: 90%;
  }

  .divPai {
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .caixasExercicios span {
    font-size: 4rem;
  }

  .caixasExercicios h3 {
    font-size: 1.5rem;
  }

  .caixasExercicios p {
    font-size: 1.2rem;
  }
}