@import './padroes.scss';
@import './mixin.scss'; 

.exerciciosInferiores {
  min-height: 100vh;
  padding: 1rem;
  color: $corBlack;
  background-color: $backgroundPrincipal;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.exerciciosInferiores h1 {
  font-size: $tamanhoLetrasTitulosUm;
  color: $corBlack;
}



