@import './padroes.scss';
@import './mixin.scss';

footer {
  color: $cor;
  background-color: $backgroundHeaderFooter;
  text-align: center;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-logo {
  font-size: $tamanhoLetrasTitulosTres;
  color: $cor;
  font-weight: bold;
}

.footer-icons {
  margin-top: 20px;
  text-align: center;
}

.footer-icons a {
  display: inline-block;
  margin-right: 10px;
  color: $cor;
  font-size: $tamanhoLetrasTitulosTres; /* Aumenta o tamanho dos ícones */
  transition: color 0.3s ease; 
}

.footer-icons a:hover {
  color: $corParagrafo;
}
