@import './padroes.scss';
@import './mixin.scss';
.header {
  overflow: hidden;
  background-color: $backgroundHeaderFooter;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: $cor;
}

.header-right {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none; /* Esconde o ícone do menu em telas maiores */
  cursor: pointer;
}

.menu-links {
  display: flex;
}

.menu-links a {
  margin-left: 20px;
  text-decoration: none;
  color: $cor;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: $backgroundHeaderFooter;
  }

  .menu-links.open {
    display: flex;
  }
}
