@import './padroes.scss'; 
@import './mixin.scss';

.hero{
    align-items: stretch;
    background-color: $backgroundPrincipal;
    padding: 1rem;
    gap: 5rem;
    @include altura;
    @include flexColumnCeterCenter;
    @include textCenter;
}

.hero h1{
  font-size: $tamanhoLetrasTitulosUm;
  font-family: var(--font-cursive);
  color: $corTitulo
}

  
  /* Estilos para o conteúdo da seção hero */
  .hero_conteudo {
    @include flexCenterCenter;
    @include textCenter;
  }
  
  .hero_img{
     @include larguraResponsiva;
  }


  .imagem_hero {
    max-width: 100%;
    max-height: 60rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .imagem_hero:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para o texto na seção hero */
  .hero_texto {
    @include larguraResponsiva;
    @include textCenter;
    @include flexColumn;
    align-items: center;
  }
  
  .hero_texto h1 {
    font-family: var(--font-cursive);
    font-size: $tamanhoLetrasTitulosUm;
    color: $corParagrafo;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    
    margin-bottom: 2rem;
  }
  
  .hero_texto h1 span {
    color: $cor;
    font-family: var(--font-cursive);
  }
  
  .hero_texto p {
    @include textCenter;
    font-size: $tamanhoLetrasParagrafos; 
    font-family: var(--body-font);
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 80%;
    
    line-height: 1.5;
    letter-spacing: 0.1rem;
    color: $corBlack;
  }
  
  .link{
    display: flex;
  }
  
  
  /* Media query para dispositivos menores */
  @media screen and (max-width: 768px) {

    .hero{
      @include altura;
      gap: 1rem;
  }
  
    .hero_conteudo{
        border-radius: 0 0 0 0;
        height: 100%;
        @include flexColumn
    }
   
     .hero_img{
      width: 60%;
    }
 
    .hero_texto{
      @include larguraResponsivaCemPorCento;
    }
  
    .hero_texto h1 {
      font-size: $tamanhoLetrasTitulosUmMenor; /* Tamanho do título para telas menores */
    }
  
    .hero_texto p {
      font-size: $tamanhoLetrasTitulosQuatro; /* Tamanho do texto para telas menores */
    }

    .hero_texto a {
      font-size: $tamanhoLetrasTitulosQuatro; /* Tamanho do texto para telas menores */
    }
  

  }
  