@import './padroes.scss'; 
@import './mixin.scss';

.btn_outline {
    @include larguraResponsiva;
    @include flexCenterCenter;
    max-width: 500px;
    padding: 8px;
  
    background-color: $backgroundButton;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
  
    font-size: $tamanhoLetrasParagrafos;
    color: $corTitulo;
    font-weight: 600;
    margin: 8px;

    font-size: $tamanhoLetrasParagrafos;
    text-transform: $texttransform;
    color: $cor;
    font-weight: 600;
    margin-left: 8px;
  }
  
  .btn_outline:hover {
    background-color: $backgroundButtonHover;
    transition: all 0.5s;
  }

  /* Media query para dispositivos menores */
  @media screen and (max-width: 768px) {
  
    .btn_outline {
      width: 80%;
      max-width: 200px; 
    }
  
    .btn_outline span {
      font-size: $tamanhoLetrasTitulosQuatro; 
    }
  }