// login.scss
@import './padroes.scss'; 
@import './mixin.scss';

.formLogin {
   @include form;
    background-color: #fff;   
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}
.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: $tamanhoLetrasParagrafos;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    @include inputText;
    border: 1px solid #ccc;
}


.formLogin input:focus {
    border: 1px solid $corBorda;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: $corParagrafo;
}

.btn {
    background-color: $backgroundButton;
    color: #fff;
    @include buttonSubmit;
}

.btn:hover {
    transform: scale(1.05);
    background-color: $backgroundButtonHover;

}

.page {
    @include ajustarAoCentroResponsivo;
    background-color: $backgroundPrincipal;
}