// @import url('https://fonts.googleapis.com/scss2?family=Roboto:wght@400;700&display=swap');

// Variáveis
$backgroundPrincipal: #32c3d36b;
$background-black: rgb(0, 0, 0);
$backgroundButton: #1a717db4;
$backgroundButtonHover: #057483;

// .color1 {color: #18a1db;}
// .color2 {color: #124a54;}
// .color3 {color: #1a717d;}
// .color4 {color: #23a0af;}
// .color5 {color: #2bc8c8;}

$cor: white;
$corBlack: black;
$corTitulo: #02414d;
$corParagrafo: #02414d;
// $cor: #1a717d;
// $cor: #23a0af;
// $cor: #2bc8c8;

//Paragrafos e TiTulos
$tamanhoLetrasParagrafos:  1.4rem ;
$tamanhoLetrasTitulosUm: 4.5rem;
$tamanhoLetrasTitulosUmMenor: 3.7rem;
$tamanhoLetrasTitulosDois: 2rem;
$tamanhoLetrasTitulosTres: 1.7rem;
$tamanhoLetrasTitulosQuatro: 1.4rem;
$tamanhoLetrasButton: 1.2rem;

//Eslos /TexTos
$texttransform: uppercase;




