// @import url('https://fonts.googleapis.com/scss2?family=Roboto:wght@400;700&display=swap');

// Variáveis
$backgroundPrincipal: #32c3d36b;
$backgroundSecundaria: #32c3d3;
$backgroundHeaderFooter: #08b5c9;
$backgroundBlack: rgb(0, 0, 0);
$backgroundButton: #1a717db4;
$backgroundButtonHover: #057483;
$linkDeCadastro: #555;

$cor: white;
$corBlack: black;
$corTitulo: #02414d;
$corParagrafo: #02414d;


//Paragrafos e TiTulos
$tamanhoLetrasParagrafos:  1.4rem ;
$tamanhoLetrasTitulosUm: 4.5rem;
$tamanhoLetrasTitulosUmMenor: 3.7rem;
$tamanhoLetrasTitulosDois: 2rem;
$tamanhoLetrasTitulosTres: 1.7rem;
$tamanhoLetrasTitulosQuatro: 1.4rem;
$tamanhoLetrasButton: 1.2rem;
$tamanhoLetrasLinks: .7rem;

//Eslos /TexTos
$texttransform: uppercase;

//Navbar
$navbar-bg: #343a40;
$navbar-text-color: #fff;
$navbar-link-color: #fff;
$navbar-link-hover-color: #fff;
$navbar-link-hover-bg: rgba(255, 255, 255, 0.1);

//Cores Bordas
$corBorda: #02414d;




