@import './padroes.scss'; 
@import './mixin.scss';

.div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.formTermo {
   @include form;
   margin: 1rem;
   max-width: 50%;
}

.formTermo h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formTermo p {
    margin: 1rem;
    text-align: center;
    display: inline-block;
    font-size: $tamanhoLetrasTitulosTres;
    color: #666;
    margin-bottom: 25px;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btnTerm{
    font-size: 1rem;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 1;
    background-color: $backgroundButton;
    color: #fff;
    margin: 3rem;
    @include buttonSubmit;
}

.btnTerm:hover {
    transform: scale(1.05);
    background-color: $backgroundButtonHover;

}


