:root {
  --main-color: #f7e6df;
  --primeira-cor: #49baf7;
  --segunda-cor: #e3edef;
  --terceira-cor: #ff8196;
  --white-cor: #ffffff;
  --black-cor: #151515;
  --font-cursive: 'Great Vibes', cursive;
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}