:root {
  --main-color: #f7e6df;
  --primeira-cor: #49baf7;
  --segunda-cor: #e3edef;
  --terceira-cor: #ff8196;
  --white-cor: #ffffff;
  --black-cor: #151515;
  --font-cursive: 'Great Vibes', cursive;
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.imagem {
  max-width: 50%; /* Garante que a imagem não ultrapasse seu contêiner */
  max-height: 100%; /* Mantém a proporção da imagem */
  border-radius: 50%; /* Deixa a imagem com bordas arredondadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  object-fit: cover; /* Garante que a imagem se ajuste ao tamanho do contêiner mantendo a proporção */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adiciona transições suaves */
}





